body, h1, h2,  ul, li { /* delete p, to  adapte paragraphe in explosifs page*/
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1e9e3;
    height: 780px;      /* added by lahcen in 4th november*/
    position: relative; /* added by lahcen in 4th november*/
}

header {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #ffcc00;
    height: 100px
}

nav {
    background-color: #ffcc00;
}

ul.top-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 24px;  /* added by lahcen in 4th november*/
    
}

ul.top-list li {
    display: inline;
}

ul.top-list a {
    text-decoration: none;
    color: #a00400;  /* added by lahcen in 4th november*/
    font-weight: bold;
    padding: 10px;
}

.join-text {
    display: inline;
    margin-right: 10px; 
    font-size: 24px;
    text-decoration: underline;
}


.form-group label, 
.form-group input, 
.form-group select, 
.form-group textarea {
    font-family: "Roboto Mono"; }

h1 {
    display: inline; 
}

main {
    background-color: #fff;
    /* padding: 20px; */
    padding: 146px; /* added by lahcen in 4th november*/
    
}


.form-group {
    margin-bottom: 15px;
   

}


label {
    display: block; 
    font-weight: bold;
    color: #a00400;  /* added by lahcen in 7th november*/
    margin-right: 10px; /* Adds margin to the right of the label */
}
label, input {
    display: inline-block; /* added by lahcen in 7th november*/
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
    width: 10%;  /* Modified by lahcen in 7th november to minimise text email*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-left: 90px;
/*     background-color: #0077B5; */
    background-color: #f6b154;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}


section {
    text-align: center;
    
}

.special-text,h5 {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

aside {
    background-color: #ffcc00;
    padding: 20px;
}

ul.my-list {
    list-style-type: none;
}

ul.my-list li {
    padding: 10px;
}

ul.my-list a ,p,h2,h5{
    text-decoration: none;
    color: #a00400;  /* added by lahcen in 4th november*/
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #ffcc00;
    padding: 10px;
    font-size: 0.8em;
    width: 100%;  /* added by lahcen in 4th november*/
    height: 15%;/* added by lahcen in 4th november*/
}
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
pre {
    text-align: justify;
  
}
nav {
    background-color:#fd872c;
    color: #fff;
}

.description p {
    max-width: 300px; 
    margin-top: 10px; 
}
/* added by lahcen in 4th november*/
div .fixed {
    position: fixed;
    bottom: 0;
    border: 3px solid #73AD21;
    text-align: center;
    font-size: 0.8em;
    height: 600px;
    margin-top: auto;
    font-weight: bold;
    padding: 30px;
}  

ol,ul.my-list {
    list-style-type: none;
    padding-top: 27px;
    text-align: center;
    font-size: 1.2em;
}
ol li,ul.my-list li {
    padding: 10px;
    display:inline; 

}
ol li ,ul.my-list li a {
    text-decoration: none;
    color: #a00400;  /* added by lahcen in 4th november*/
    font-weight: bold;  
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.2em;
}
li a{
    margin-top: 10px;
    padding-top: 10px;
  
}

 /* added by lahcen in 4th november*/
 ul.my-list li a:hover{
    color: white;
}